In [ ]:
import streamlit as st

import pyodbc
import os 
from dotenv import load_dotenv
import pandas as pd


load_dotenv()



# server = os.getenv('DATABASE_SER')
# database = 'mySampleDatabase'
# username = os.getenv('DATABASE_USERNAME')
# password = os.getenv('DATABASE_PASSWORD')
# driver = '{ODBC Driver 18 for SQL Server}'

server = st.secrets['DATABASE_SER']
database = 'mySampleDatabase'
username = st.secrets['DATABASE_USERNAME']
password = st.secrets['DATABASE_PASSWORD']
driver = '{ODBC Driver 17 for SQL Server}'

 
with pyodbc.connect('DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password) as conn:
    with conn.cursor() as cursor:
        # Execute the query
        cursor.execute('''
            SELECT *
            FROM [dbo].[sp500_stock_data]
            WHERE code = 'AAPL'
            
        ''')

        # Fetch all rows
        rows = cursor.fetchall()

        # Convert to DataFrame
        df = pd.DataFrame.from_records(rows, columns=[desc[0] for desc in cursor.description])

In [6]:
sp500_csv_= pd.read_csv('https://raw.githubusercontent.com/datasets/s-and-p-500-companies/main/data/constituents.csv')
sp500_csv_

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [11]:
df = sp500_csv_.groupby('GICS Sector')
df.first()

,Symbol,Security,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
GICS Sector,,,,,,,
Communication Services,GOOGL,Alphabet Inc. (Class A),Interactive Media & Services,"Mountain View, California",2014-04-03,1652044,1998
Consumer Discretionary,ABNB,Airbnb,"Hotels, Resorts & Cruise Lines","San Francisco, California",2023-09-18,1559720,2008
Consumer Staples,MO,Altria,Tobacco,"Richmond, Virginia",1957-03-04,764180,1985
Energy,APA,APA Corporation,Oil & Gas Exploration & Production,"Houston, Texas",1997-07-28,1841666,1954
Financials,AFL,Aflac,Life & Health Insurance,"Columbus, Georgia",1999-05-28,4977,1955
Health Care,ABT,Abbott Laboratories,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
Industrials,MMM,3M,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
Information Technology,ACN,Accenture,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
Materials,APD,Air Products,Industrial Gases,"Allentown, Pennsylvania",1985-04-30,2969,1940
Real Estate,ARE,Alexandria Real Estate Equities,Office REITs,"Pasadena, California",2017-03-20,1035443,1994
Utilities,AES,AES Corporation,Independent Power Producers & Energy Traders,"Arlington, Virginia",1998-10-02,874761,1981

In [18]:
import pandas as pd

# Sample data
data = {
    'age': [25, 30, 45, 22, 40,50,50,50,50,],
    'income': [50000, 60000, 80000, 45000, 70000,50,50,50,50]
}

df = pd.DataFrame(data)

# Define a classification function that returns the first character
def classify_income(income):
    if income < 50000:
        return 'Low'
    elif 50000 <= income < 70000:
        return 'Medium'
    else:
        return 'High'

# Apply the function and get the first character of the result
df['income_category'] = df['income'].apply(lambda x: classify_income(x)[0])

print(df)

   age  income income_category
0   25   50000               M
1   30   60000               M
2   45   80000               H
3   22   45000               L
4   40   70000               H
5   50      50               L
6   50      50               L
7   50      50               L
8   50      50               L

In [19]:
first_occurrences = df.drop_duplicates(subset='income_category')
first_occurrences

   age  income income_category
0   25   50000               M
2   45   80000               H
3   22   45000               L