In [2]:
import streamlit as st

import pyodbc
import time
import datetime

 
import pandas as pd
import yfinance as yf

In [4]:

server = st.secrets['DATABASE_SER']
database = 'donavan02_1'
username = st.secrets['DATABASE_USERNAME']
password = st.secrets['DATABASE_PASSWORD']
driver = '{ODBC Driver 17 for SQL Server}'
with pyodbc.connect('DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password) as conn:
   with conn.cursor() as cursor:
       # Execute the query
       cursor.execute('''
     SELECT TOP (1000) [id]
     ,[date]
     ,[open]
     ,[high]
     ,[low]
     ,[close]
     ,[volume]
     ,[code]
     ,[diff]
 FROM [dbo].[sp500_stock_data]
          
       ''')
       # Fetch all rows
       rows = cursor.fetchall()
       # Convert to DataFrame
       df = pd.DataFrame.from_records(rows, columns=[desc[0] for desc in cursor.description])

In [3]:
tickerData = yf.Ticker("AAPL") # Get ticker data
df = tickerData.history(period='1d', start='2020-01-01', end='2024-01-01') #get the historical prices for this ticker
df.reset_index(inplace=True)
df = df.round(2)
df['Date'] = df['Date'].dt.strftime('%Y/%m/%d')
df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2020/01/02,71.88,72.94,71.62,72.88,135480400,0.0,0.0
1,2020/01/03,72.10,72.93,71.94,72.17,146322800,0.0,0.0
2,2020/01/06,71.28,72.78,71.03,72.74,118387200,0.0,0.0
3,2020/01/07,72.75,73.01,72.18,72.40,108872000,0.0,0.0
4,2020/01/08,72.10,73.87,72.10,73.57,132079200,0.0,0.0
...,...,...,...,...,...,...,...,...
1001,2023/12/22,194.44,194.67,192.24,192.87,37122800,0.0,0.0
1002,2023/12/26,192.88,193.16,192.10,192.32,28919300,0.0,0.0
1003,2023/12/27,191.76,192.77,190.37,192.42,48087700,0.0,0.0
1004,2023/12/28,193.41,193.92,192.44,192.85,34049900,0.0,0.0
1005,2023/12/29,193.17,193.67,191.01,191.80,42628800,0.0,0.0

In [10]:
def get_stock_info(ticker):
    stock = yf.Ticker(ticker)
    
    # Fetch historical market data
   
    
    # Fetch other info
    return stock.info

info = get_stock_info('aapl')

info_display = {
"Company Name": info.get("longName", "N/A"),
"Sector": info.get("sector", "N/A"),
"Industry": info.get("industry", "N/A"),
"Current Price": round(info.get('currentPrice', 'N/A'),2),
"Market Cap": info.get('marketCap', 'N/A'),
"52 Week High": round(info.get('fiftyTwoWeekHigh', 'N/A'),2),
"52 Week Low": round(info.get('fiftyTwoWeekLow', 'N/A'),2),
}
pd.DataFrame([info_display])

,Company Name,Sector,Industry,Current Price,Market Cap,52 Week High,52 Week Low
0,Apple Inc.,Technology,Consumer Electronics,220.91,3358737825792,237.23,164.08