In [43]:
import streamlit as st

import pyodbc
import os 
from dotenv import load_dotenv
import pandas as pd
import yfinance as yf

load_dotenv()



# server = os.getenv('DATABASE_SER')
# database = 'mySampleDatabase'
# username = os.getenv('DATABASE_USERNAME')
# password = os.getenv('DATABASE_PASSWORD')
# driver = '{ODBC Driver 18 for SQL Server}'

server = st.secrets['DATABASE_SER']
database = 'donavan02_1'
username = st.secrets['DATABASE_USERNAME']
password = st.secrets['DATABASE_PASSWORD']
driver = '{ODBC Driver 17 for SQL Server}'

 
with pyodbc.connect('DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password) as conn:
    with conn.cursor() as cursor:
        # Execute the query
        cursor.execute('''
            SELECT *
            FROM [dbo].[sp500_stock_data]
            WHERE code = 'AAPL'
            
        ''')

        # Fetch all rows
        rows = cursor.fetchall()

        # Convert to DataFrame
        df = pd.DataFrame.from_records(rows, columns=[desc[0] for desc in cursor.description])
        
df

,id,date,open,high,low,close,volume,code,diff
0,48745,2019-09-09,51.97,52.36,51.06,51.81,109237600,AAPL,-0.16
1,48746,2019-09-10,51.74,52.44,51.21,52.42,127111600,AAPL,0.68
2,48747,2019-09-11,52.75,54.12,52.67,54.09,177158400,AAPL,1.34
3,48748,2019-09-12,54.38,54.77,53.91,53.97,128906800,AAPL,-0.41
4,48749,2019-09-13,53.22,53.41,52.50,52.92,159053200,AAPL,-0.30
...,...,...,...,...,...,...,...,...,...
1253,49998,2024-08-30,230.19,230.40,227.48,229.00,52990800,AAPL,-1.19
1254,49999,2024-09-03,228.55,229.00,221.17,222.77,50042900,AAPL,-5.78
1255,50000,2024-09-04,221.66,221.78,217.48,220.85,43840200,AAPL,-0.81
1256,50001,2024-09-05,221.63,225.48,221.52,222.38,36615400,AAPL,0.75
1257,50002,2024-09-06,223.95,225.24,219.77,220.82,48388600,AAPL,-3.13

In [4]:
sp500_csv_= pd.read_csv('https://raw.githubusercontent.com/datasets/s-and-p-500-companies/main/data/constituents.csv')
sp500_csv_

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [5]:
df = sp500_csv_.groupby('GICS Sector')
df.first()

,Symbol,Security,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
GICS Sector,,,,,,,
Communication Services,GOOGL,Alphabet Inc. (Class A),Interactive Media & Services,"Mountain View, California",2014-04-03,1652044,1998
Consumer Discretionary,ABNB,Airbnb,"Hotels, Resorts & Cruise Lines","San Francisco, California",2023-09-18,1559720,2008
Consumer Staples,MO,Altria,Tobacco,"Richmond, Virginia",1957-03-04,764180,1985
Energy,APA,APA Corporation,Oil & Gas Exploration & Production,"Houston, Texas",1997-07-28,1841666,1954
Financials,AFL,Aflac,Life & Health Insurance,"Columbus, Georgia",1999-05-28,4977,1955
Health Care,ABT,Abbott Laboratories,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
Industrials,MMM,3M,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
Information Technology,ACN,Accenture,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
Materials,APD,Air Products,Industrial Gases,"Allentown, Pennsylvania",1985-04-30,2969,1940
Real Estate,ARE,Alexandria Real Estate Equities,Office REITs,"Pasadena, California",2017-03-20,1035443,1994
Utilities,AES,AES Corporation,Independent Power Producers & Energy Traders,"Arlington, Virginia",1998-10-02,874761,1981

In [6]:
import pandas as pd

# Sample data
data = {
    'age': [25, 30, 45, 22, 40,50,50,50,50,],
    'income': [50000, 60000, 80000, 45000, 70000,50,50,50,50]
}

df = pd.DataFrame(data)

# Define a classification function that returns the first character
def classify_income(income):
    if income < 50000:
        return 'Low'
    elif 50000 <= income < 70000:
        return 'Medium'
    else:
        return 'High'

# Apply the function and get the first character of the result
df['income_category'] = df['income'].apply(lambda x: classify_income(x)[0])

print(df)

   age  income income_category
0   25   50000               M
1   30   60000               M
2   45   80000               H
3   22   45000               L
4   40   70000               H
5   50      50               L
6   50      50               L
7   50      50               L
8   50      50               L

In [7]:
first_occurrences = df.drop_duplicates(subset='income_category')
first_occurrences

   age  income income_category
0   25   50000               M
2   45   80000               H
3   22   45000               L

In [40]:
def getsp500(tk):
    with pyodbc.connect('DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password) as conn:
        with conn.cursor() as cursor:
            # Execute the query
            cursor.execute(f'''
                SELECT *
                FROM [dbo].[sp500_stock_data]
                WHERE code = ?
                
            ''',(tk,))

            # Fetch all rows
            rows = cursor.fetchall()

            # Convert to DataFrame
            df = pd.DataFrame.from_records(rows, columns=[desc[0] for desc in cursor.description])
            
    return df

In [67]:
getsp500('nvda')[getsp500('nvda')['diff'] > 5      ]

,id,date,open,high,low,close,volume,code,diff
1212,434180,2024-07-03,121.66,128.28,121.36,128.28,215749000,NVDA,6.62
1234,434202,2024-08-05,92.06,103.41,90.69,100.45,552842400,NVDA,8.39
1244,434212,2024-08-19,124.28,130.00,123.42,130.00,318333600,NVDA,5.72

[*********************100%***********************]  8 of 8 completed

1 Failed download:
['FB']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (period=1d) (Yahoo error = "No data found, symbol may be delisted")')

ValueError: array length 8 does not match index length 115